<%- include('./partials/header') %>
<div class="center-absolute">
    <h1>FileStash</h1>
    <div class="container text-center">
        <p class="download-title">You have requested a file for download</p>
        <p id="file-name"><i><%= atob(file.original_name) %></i></p>
        <p>Size: <%= file.sizeHr %></p>
        <a href="/<%= file.file_id %>/download"><button class="btn">Download</button></a>
        <% if (previewable) { %>
        <a href="/<%= file.file_id %>/view"><button class="btn">View</button></a>
        <% } %>
    </div>
</div>
<%- include('./partials/scripts') %>
<%- include('./partials/footer') %>